In [9]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import remap_values as rv
import df_visualizations as dv

In [2]:
my_df = pd.read_csv( 'inp_data/macro.csv' )

In [3]:
my_df.head()

,timestamp,oil_urals,gdp_quart,gdp_quart_growth,cpi,ppi,gdp_deflator,balance_trade,balance_trade_growth,usdrub,...,provision_retail_space_modern_sqm,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm
0,2010-01-01,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
1,2010-01-02,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
2,2010-01-03,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
3,2010-01-04,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.905,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
4,2010-01-05,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.836,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN

In [4]:
my_df.shape

(2484, 100)

In [5]:
my_df = my_df.ix[ :, my_df.isnull().sum() < 400 ]

In [6]:
my_df.isnull().sum().sort_values()

timestamp                                       0
oil_urals                                       0
fixed_basket                                    0
mortgage_rate                                   0
mortgage_value                                  0
deposits_value                                  0
average_provision_of_build_contract             0
gdp_annual                                      0
gdp_annual_growth                               0
micex_cbi_tr                                    1
usdrub                                          3
eurrub                                          3
brent                                           3
micex_rgbi_tr                                  10
rts                                            10
micex                                          10
balance_trade                                  31
ppi                                            31
deposits_growth                                31
cpi                                            31
balance_trade_growth                           90
gdp_quart_growth                               90
gdp_quart                                      90
rent_price_2room_eco                          273
rent_price_1room_eco                          273
rent_price_4+room_bus                         273
rent_price_3room_eco                          273
rent_price_1room_bus                          273
rent_price_2room_bus                          273
rent_price_3room_bus                          273
mortality                                     293
average_life_exp                              293
load_of_teachers_school_per_teacher           293
load_on_doctors                               293
childbirth                                    293
provision_nurse                               293
pop_natural_increase                          293
income_per_cap                                293
invest_fixed_capital_per_cap                  293
employment                                    293
unemployment                                  293
labor_force                                   293
retail_trade_turnover_growth                  293
retail_trade_turnover_per_cap                 293
retail_trade_turnover                         293
salary                                        293
turnover_catering_per_cap                     293
invest_fixed_assets                           293
seats_theather_rfmin_per_100000_cap           293
mortgage_growth                               365
average_provision_of_build_contract_moscow    365
gdp_deflator                                  365
net_capital_export                            396
dtype: int64

In [7]:
my_df.head()
#for col in my_df.columns.values:
#    print col, my_df[col].isnull().sum()

,timestamp,oil_urals,gdp_quart,gdp_quart_growth,cpi,ppi,gdp_deflator,balance_trade,balance_trade_growth,usdrub,...,rent_price_2room_bus,rent_price_1room_bus,rent_price_3room_eco,rent_price_2room_eco,rent_price_1room_eco,load_of_teachers_school_per_teacher,provision_nurse,load_on_doctors,turnover_catering_per_cap,seats_theather_rfmin_per_100000_cap
0,2010-01-01,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1356.112607,99.4,7872.848285,6221.0,0.41
1,2010-01-02,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1356.112607,99.4,7872.848285,6221.0,0.41
2,2010-01-03,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1356.112607,99.4,7872.848285,6221.0,0.41
3,2010-01-04,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.905,...,NaN,NaN,NaN,NaN,NaN,1356.112607,99.4,7872.848285,6221.0,0.41
4,2010-01-05,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.836,...,NaN,NaN,NaN,NaN,NaN,1356.112607,99.4,7872.848285,6221.0,0.41

In [8]:
my_df.columns.values

array(['timestamp', 'oil_urals', 'gdp_quart', 'gdp_quart_growth', 'cpi',
       'ppi', 'gdp_deflator', 'balance_trade', 'balance_trade_growth',
       'usdrub', 'eurrub', 'brent', 'net_capital_export', 'gdp_annual',
       'gdp_annual_growth', 'average_provision_of_build_contract',
       'average_provision_of_build_contract_moscow', 'rts', 'micex',
       'micex_rgbi_tr', 'micex_cbi_tr', 'deposits_value',
       'deposits_growth', 'mortgage_value', 'mortgage_growth',
       'mortgage_rate', 'income_per_cap', 'salary', 'fixed_basket',
       'retail_trade_turnover', 'retail_trade_turnover_per_cap',
       'retail_trade_turnover_growth', 'labor_force', 'unemployment',
       'employment', 'invest_fixed_capital_per_cap', 'invest_fixed_assets',
       'pop_natural_increase', 'childbirth', 'mortality',
       'average_life_exp', 'rent_price_4+room_bus', 'rent_price_3room_bus',
       'rent_price_2room_bus', 'rent_price_1room_bus',
       'rent_price_3room_eco', 'rent_price_2room_eco',
       'rent_price_1room_eco', 'load_of_teachers_school_per_teacher',
       'provision_nurse', 'load_on_doctors', 'turnover_catering_per_cap',
       'seats_theather_rfmin_per_100000_cap'], dtype=object)

In [55]:
my_df.fillna( method='ffill', inplace=True )
my_df.fillna( method='bfill', inplace=True )

In [64]:
for col in rent_list:#my_df.columns.values[1:]:
    my_df.plot( x='timestamp', y=col, style='o' )
    plt.show()

In [56]:
# GDP stuff, can group
gdp_list = ['gdp_quart','gdp_quart_growth','gdp_deflator','gdp_annual','gdp_annual_growth']

# Consumer/producer price index
pi_list = ['cpi','ppi']

# Trade surpluses, prob can group
balance_list = ['balance_trade','balance_trade_growth']



eco_list = gdp_list + pi_list + balance_list

dv.corr_plot( my_df[eco_list] )

In [72]:
foo = my_df[eco_list].copy()
for col in eco_list:
    f, ax = plt.subplots(ncols=2)
    foo[col].hist(bins=20,ax=ax[0])
    foo[col] = rv.scale_column_sigma( foo, col )
    foo[col].hist(bins=20,ax=ax[1])
    plt.title(col)
    plt.show()

In [57]:
# Ruble conversion rate, highly correlated
rub_list = ['usdrub','eurrub','fixed_basket']

# MICEX? Mixed bag, group
micex_list = ['micex','micex_rgbi_tr','micex_cbi_tr']

# Lots of good correlations
banking_list = [ 'deposits_value', 'deposits_growth', 
                 'mortgage_value', 'mortgage_growth', 'mortgage_rate']

# Exactly the same...
invest_list = ['invest_fixed_capital_per_cap','invest_fixed_assets']


mark_list = rub_list + micex_list + banking_list + invest_list

dv.corr_plot( my_df[mark_list] )

In [73]:
foo = my_df[mark_list].copy()
for col in mark_list:
    f, ax = plt.subplots(ncols=2)
    foo[col].hist(bins=20,ax=ax[0])
    foo[col] = rv.scale_column_sigma( foo, col )
    foo[col].hist(bins=20,ax=ax[1])
    plt.title(col)
    plt.show()

In [58]:
# Provision orders to build stuff, not correlated
build_list = ['average_provision_of_build_contract','average_provision_of_build_contract_moscow']

# Retail
retail_list = ['retail_trade_turnover','retail_trade_turnover_per_cap','retail_trade_turnover_growth']

# Miscellaneous
misc_list = ['oil_urals','turnover_catering_per_cap','seats_theather_rfmin_per_100000_cap']


buy_list = build_list + retail_list + misc_list

dv.corr_plot( my_df[buy_list] )

In [74]:
foo = my_df[buy_list].copy()
for col in buy_list:
    f, ax = plt.subplots(ncols=2)
    foo[col].hist(bins=20,ax=ax[0])
    foo[col] = rv.scale_column_sigma( foo, col )
    foo[col].hist(bins=20,ax=ax[1])
    plt.title(col)
    plt.show()

In [59]:
# Great corr
personal_list = ['income_per_cap','salary','labor_force','unemployment','employment',
                 'pop_natural_increase','childbirth','mortality','average_life_exp',
                 'provision_nurse', 'load_on_doctors']

# rent
rent_list = ['rent_price_4+room_bus', 'rent_price_3room_bus', 'rent_price_2room_bus', 'rent_price_1room_bus',
             'rent_price_3room_eco', 'rent_price_2room_eco', 'rent_price_1room_eco']


peep_list = personal_list + rent_list

dv.corr_plot( my_df[peep_list] )

In [75]:
foo = my_df[peep_list].copy()
for col in peep_list:
    f, ax = plt.subplots(ncols=2)
    foo[col].hist(bins=20,ax=ax[0])
    foo[col] = rv.scale_column_sigma( foo, col )
    foo[col].hist(bins=20,ax=ax[1])
    plt.title(col)
    plt.show()