In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import remap_values as rv
import df_visualizations as dv

In [2]:
my_df = pd.read_csv( 'inp_data/macro.csv' )

In [3]:
my_df.head()

,timestamp,oil_urals,gdp_quart,gdp_quart_growth,cpi,ppi,gdp_deflator,balance_trade,balance_trade_growth,usdrub,...,provision_retail_space_modern_sqm,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm
0,2010-01-01,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
1,2010-01-02,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
2,2010-01-03,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
3,2010-01-04,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.905,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
4,2010-01-05,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.836,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN

In [4]:
my_df.shape

(2484, 100)

In [3]:
my_df = my_df.ix[ :, my_df.isnull().sum() < 400 ]

In [4]:
my_df.isnull().sum().sort_values()

timestamp                                       0
oil_urals                                       0
fixed_basket                                    0
mortgage_rate                                   0
mortgage_value                                  0
deposits_value                                  0
average_provision_of_build_contract             0
gdp_annual                                      0
gdp_annual_growth                               0
micex_cbi_tr                                    1
usdrub                                          3
eurrub                                          3
brent                                           3
micex_rgbi_tr                                  10
rts                                            10
micex                                          10
balance_trade                                  31
ppi                                            31
deposits_growth                                31
cpi                                            31
balance_trade_growth                           90
gdp_quart_growth                               90
gdp_quart                                      90
rent_price_2room_eco                          273
rent_price_1room_eco                          273
rent_price_4+room_bus                         273
rent_price_3room_eco                          273
rent_price_1room_bus                          273
rent_price_2room_bus                          273
rent_price_3room_bus                          273
mortality                                     293
average_life_exp                              293
load_of_teachers_school_per_teacher           293
load_on_doctors                               293
childbirth                                    293
provision_nurse                               293
pop_natural_increase                          293
income_per_cap                                293
invest_fixed_capital_per_cap                  293
employment                                    293
unemployment                                  293
labor_force                                   293
retail_trade_turnover_growth                  293
retail_trade_turnover_per_cap                 293
retail_trade_turnover                         293
salary                                        293
turnover_catering_per_cap                     293
invest_fixed_assets                           293
seats_theather_rfmin_per_100000_cap           293
mortgage_growth                               365
average_provision_of_build_contract_moscow    365
gdp_deflator                                  365
net_capital_export                            396
dtype: int64

In [5]:
my_df.head()

,timestamp,oil_urals,gdp_quart,gdp_quart_growth,cpi,ppi,gdp_deflator,balance_trade,balance_trade_growth,usdrub,...,rent_price_2room_bus,rent_price_1room_bus,rent_price_3room_eco,rent_price_2room_eco,rent_price_1room_eco,load_of_teachers_school_per_teacher,provision_nurse,load_on_doctors,turnover_catering_per_cap,seats_theather_rfmin_per_100000_cap
0,2010-01-01,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1356.112607,99.4,7872.848285,6221.0,0.41
1,2010-01-02,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1356.112607,99.4,7872.848285,6221.0,0.41
2,2010-01-03,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1356.112607,99.4,7872.848285,6221.0,0.41
3,2010-01-04,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.905,...,NaN,NaN,NaN,NaN,NaN,1356.112607,99.4,7872.848285,6221.0,0.41
4,2010-01-05,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.836,...,NaN,NaN,NaN,NaN,NaN,1356.112607,99.4,7872.848285,6221.0,0.41

In [4]:
my_df.columns.values

array(['timestamp', 'oil_urals', 'gdp_quart', 'gdp_quart_growth', 'cpi',
       'ppi', 'gdp_deflator', 'balance_trade', 'balance_trade_growth',
       'usdrub', 'eurrub', 'brent', 'net_capital_export', 'gdp_annual',
       'gdp_annual_growth', 'average_provision_of_build_contract',
       'average_provision_of_build_contract_moscow', 'rts', 'micex',
       'micex_rgbi_tr', 'micex_cbi_tr', 'deposits_value',
       'deposits_growth', 'mortgage_value', 'mortgage_growth',
       'mortgage_rate', 'income_per_cap', 'salary', 'fixed_basket',
       'retail_trade_turnover', 'retail_trade_turnover_per_cap',
       'retail_trade_turnover_growth', 'labor_force', 'unemployment',
       'employment', 'invest_fixed_capital_per_cap', 'invest_fixed_assets',
       'pop_natural_increase', 'childbirth', 'mortality',
       'average_life_exp', 'rent_price_4+room_bus', 'rent_price_3room_bus',
       'rent_price_2room_bus', 'rent_price_1room_bus',
       'rent_price_3room_eco', 'rent_price_2room_eco',
       'rent_price_1room_eco', 'load_of_teachers_school_per_teacher',
       'provision_nurse', 'load_on_doctors', 'turnover_catering_per_cap',
       'seats_theather_rfmin_per_100000_cap'], dtype=object)

In [5]:
my_df.fillna( method='ffill', inplace=True )
my_df.fillna( method='bfill', inplace=True )

In [6]:
# GDP stuff, can group
gdp_list = ['gdp_quart','gdp_quart_growth','gdp_deflator','gdp_annual','gdp_annual_growth']

# Consumer/producer price index
pi_list = ['cpi','ppi']

# Trade surpluses, prob can group
balance_list = ['balance_trade','balance_trade_growth']



eco_list = gdp_list + pi_list + balance_list

#dv.corr_plot( my_df[eco_list] )

In [24]:
foo = my_df[eco_list].copy()
for col in eco_list:
#    f, ax = plt.subplots(ncols=2)
#    foo[col].hist(bins=20,ax=ax[0])
    foo[col] = smart_scale( foo, col )
#    foo[col].hist(bins=20,ax=ax[1])
#    plt.title(col)
#    plt.show()

In [7]:
# Ruble conversion rate, highly correlated
rub_list = ['usdrub','eurrub','fixed_basket']

# MICEX? Mixed bag, group
micex_list = ['micex','micex_rgbi_tr','micex_cbi_tr']

# Lots of good correlations
banking_list = [ 'deposits_value', 'deposits_growth', 
                 'mortgage_value', 'mortgage_growth', 'mortgage_rate']

# Exactly the same...
invest_list = ['invest_fixed_capital_per_cap','invest_fixed_assets']


mark_list = rub_list + micex_list + banking_list + invest_list

#dv.corr_plot( my_df[mark_list] )

In [25]:
foo = my_df[mark_list].copy()
for col in mark_list:
#    f, ax = plt.subplots(ncols=2)
#    foo[col].hist(bins=20,ax=ax[0])
    foo[col] = rv.smart_scale( foo, col )
#    foo[col].hist(bins=20,ax=ax[1])
#    plt.title(col)
#    plt.show()

In [8]:
# Provision orders to build stuff, not correlated
build_list = ['average_provision_of_build_contract','average_provision_of_build_contract_moscow']

# Retail
retail_list = ['retail_trade_turnover','retail_trade_turnover_per_cap','retail_trade_turnover_growth']

# Miscellaneous
misc_list = ['oil_urals','turnover_catering_per_cap','seats_theather_rfmin_per_100000_cap']


buy_list = build_list + retail_list + misc_list

#dv.corr_plot( my_df[buy_list] )

/home/sean/anaconda/lib/python2.7/site-packages/matplotlib/collections.py:590: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if self._edgecolors == str('face'):

In [26]:
foo = my_df[buy_list].copy()
for col in buy_list:
#    f, ax = plt.subplots(ncols=2)
#    foo[col].hist(bins=20,ax=ax[0])
    foo[col] = rv.smart_scale( foo, col )
#    foo[col].hist(bins=20,ax=ax[1])
#    plt.title(col)
#    plt.show()

In [9]:
# Great corr
personal_list = ['income_per_cap','salary','labor_force','unemployment','employment',
                 'pop_natural_increase','childbirth','mortality','average_life_exp',
                 'provision_nurse', 'load_on_doctors']

# rent
rent_list = ['rent_price_4+room_bus', 'rent_price_3room_bus', 'rent_price_2room_bus', 'rent_price_1room_bus',
             'rent_price_3room_eco', 'rent_price_2room_eco', 'rent_price_1room_eco']


peep_list = personal_list + rent_list

#dv.corr_plot( my_df[personal_list] )
#dv.corr_plot( my_df[    rent_list] )

In [28]:
foo = my_df[peep_list].copy()
for col in peep_list:
#    f, ax = plt.subplots(ncols=2)
#    foo[col].hist(bins=20,ax=ax[0])
    print col
    foo[col] = rv.smart_scale( foo, col )
#    foo[col].hist(bins=20,ax=ax[1])
#    plt.title(col)
#    plt.show()

income_per_cap
salary
labor_force
unemployment
employment
pop_natural_increase
childbirth
mortality
average_life_exp
provision_nurse
load_on_doctors
rent_price_4+room_bus
rent_price_3room_bus
rent_price_2room_bus
rent_price_1room_bus
rent_price_3room_eco
rent_price_2room_eco
rent_price_1room_eco

In [10]:
smart = ['gdp_quart','cpi','ppi','balance_trade','balance_trade_growth',
         'deposits_growth','mortgage_rate',
         'average_provision_of_build_contract',
         'seats_theather_rfmin_per_100000_cap',
         'income_per_cap','rent_price_4+room_bus','rent_price_3room_bus','rent_price_2room_bus',
         'rent_price_1room_bus','rent_price_3room_eco','rent_price_2room_eco','rent_price_1room_eco']


scale = ['gdp_quart_growth','gdp_deflator','gdp_annual','gdp_annual_growth',
         'usdrub','eurrub','fixed_basket','micex','micex_rgbi_tr','micex_cbi_tr',
         'deposits_value','mortgage_value','mortgage_growth','invest_fixed_capital_per_cap','invest_fixed_assets',
         'average_provision_of_build_contract_moscow','retail_trade_turnover','retail_trade_turnover_per_cap',
         'retail_trade_turnover_growth','oil_urals','turnover_catering_per_cap',
         'salary','labor_force','unemployment','employment','pop_natural_increase','childbirth',
         'mortality','average_life_exp','provision_nurse','load_on_doctors']

In [12]:
# resume 27
norm_df = my_df[smart].copy()
for col in smart:
    norm_df[ col ] = rv.smart_scale( my_df, col, show_plot=False )
for col in scale:
    norm_df[ col ] = rv.scale_column_sigma( my_df, col )

In [13]:
norm_df.shape

(2484, 48)

In [21]:
economy_pca = rv.generate_reduced_PCA( norm_df,N_c = 6, cols=norm_df.columns, col_names='economy', verbose=True )

Using columns:
Index([u'gdp_quart', u'cpi', u'ppi', u'balance_trade', u'balance_trade_growth',
       u'deposits_growth', u'mortgage_rate',
       u'average_provision_of_build_contract',
       u'seats_theather_rfmin_per_100000_cap', u'income_per_cap',
       u'rent_price_4+room_bus', u'rent_price_3room_bus',
       u'rent_price_2room_bus', u'rent_price_1room_bus',
       u'rent_price_3room_eco', u'rent_price_2room_eco',
       u'rent_price_1room_eco', u'gdp_quart_growth', u'gdp_deflator',
       u'gdp_annual', u'gdp_annual_growth', u'usdrub', u'eurrub',
       u'fixed_basket', u'micex', u'micex_rgbi_tr', u'micex_cbi_tr',
       u'deposits_value', u'mortgage_value', u'mortgage_growth',
       u'invest_fixed_capital_per_cap', u'invest_fixed_assets',
       u'average_provision_of_build_contract_moscow', u'retail_trade_turnover',
       u'retail_trade_turnover_per_cap', u'retail_trade_turnover_growth',
       u'oil_urals', u'turnover_catering_per_cap', u'salary', u'labor_force',
       u'unemployment', u'employment', u'pop_natural_increase', u'childbirth',
       u'mortality', u'average_life_exp', u'provision_nurse',
       u'load_on_doctors'],
      dtype='object')

Using  6  components, variance ratio:
[ 0.51181077  0.15581016  0.06848566  0.04922456  0.04385443  0.02895799]
Total explained variance:  0.858143572906

New columns:
['economy_pca_0', 'economy_pca_1', 'economy_pca_2', 'economy_pca_3', 'economy_pca_4', 'economy_pca_5']

In [22]:
economy_pca.head()

,economy_pca_0,economy_pca_1,economy_pca_2,economy_pca_3,economy_pca_4,economy_pca_5
0,11.509154,2.094981,2.707482,-1.691901,1.455286,0.333718
1,11.509154,2.094981,2.707482,-1.691901,1.455286,0.333718
2,11.495083,2.104226,2.705919,-1.692394,1.456099,0.339611
3,11.475922,2.116818,2.703790,-1.693065,1.457207,0.347636
4,11.480380,2.111180,2.701421,-1.694002,1.457837,0.349619

In [23]:
economy_pca.hist()

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x7f4237c6ab50>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7f42373b2f50>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x7f4236b8b1d0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7f4231263210>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x7f42377f5c10>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7f4231af0f50>]], dtype=object)

In [24]:
plt.show()

In [25]:
print economy_pca.shape
print my_df['timestamp'].shape

(2484, 6)
(2484,)

In [39]:
print my_df['timestamp'].head()
print economy_pca.head()

0    2010-01-01
1    2010-01-02
2    2010-01-03
3    2010-01-04
4    2010-01-05
Name: timestamp, dtype: object
   economy_pca_0  economy_pca_1  economy_pca_2  economy_pca_3  economy_pca_4  \
0      11.509154       2.094981       2.707482      -1.691901       1.455286
1      11.509154       2.094981       2.707482      -1.691901       1.455286
2      11.495083       2.104226       2.705919      -1.692394       1.456099
3      11.475922       2.116818       2.703790      -1.693065       1.457207
4      11.480380       2.111180       2.701421      -1.694002       1.457837

   economy_pca_5
0       0.333718
1       0.333718
2       0.339611
3       0.347636
4       0.349619

In [49]:
out_df = my_df['timestamp'].to_frame().merge( economy_pca, how='inner', left_index=True, right_index=True )

In [50]:
out_df.shape

(2484, 7)

In [51]:
out_df.head()

,timestamp,economy_pca_0,economy_pca_1,economy_pca_2,economy_pca_3,economy_pca_4,economy_pca_5
0,2010-01-01,11.509154,2.094981,2.707482,-1.691901,1.455286,0.333718
1,2010-01-02,11.509154,2.094981,2.707482,-1.691901,1.455286,0.333718
2,2010-01-03,11.495083,2.104226,2.705919,-1.692394,1.456099,0.339611
3,2010-01-04,11.475922,2.116818,2.703790,-1.693065,1.457207,0.347636
4,2010-01-05,11.480380,2.111180,2.701421,-1.694002,1.457837,0.349619

In [52]:
out_df.to_pickle( 'economy.pkl' )