In [1]:
import numpy  as np
import pandas as pd

import matplotlib.pyplot as plt

import remap_values      as rv
import df_visualizations as dv

In [2]:
train_df = pd.read_csv( 'train_mod.csv' )
test_df  = pd.read_csv(  'test_mod.csv' )
target   = pd.read_csv(     'price.csv' )

In [3]:
train_df.head()

,full_sq,life_sq,floor,max_floor,build_year,num_room,kitch_sq,product_type,state,area_m,...,sub_area_142,sub_area_143,sub_area_144,sub_area_145,economy_pca_0,economy_pca_1,economy_pca_2,economy_pca_3,economy_pca_4,economy_pca_5
0,-0.478974,-0.230602,3.0,3.0,1890.542762,2.0,0.262875,0.0,0.0,-0.778320,...,0,0,0,0,4.339423,-2.483083,-2.359179,2.115526,0.497562,-0.504460
1,-1.164398,-1.019313,3.0,3.0,1890.542762,2.0,0.262875,0.0,0.0,-0.273679,...,0,0,0,0,4.340430,-2.478756,-2.371841,2.120667,0.498366,-0.498004
2,-0.478974,-0.068879,2.0,2.0,1890.542762,2.0,0.262875,0.0,0.0,-1.137734,...,0,0,0,0,4.332142,-2.467574,-2.363300,2.139086,0.501655,-0.518096
3,1.664444,1.174946,4.0,4.0,1890.542762,2.0,0.262875,0.0,0.0,0.066451,...,0,0,0,0,3.715622,-2.715521,-1.499621,1.731055,0.450541,-1.242619
4,1.235829,2.170898,3.0,3.0,1890.542762,2.0,0.262875,0.0,0.0,-0.439656,...,0,0,0,0,3.788533,-2.763121,-1.416298,1.832458,-0.280432,-1.107219

In [4]:
test_df.head()

,full_sq,life_sq,floor,max_floor,build_year,num_room,kitch_sq,product_type,state,area_m,...,sub_area_142,sub_area_143,sub_area_144,sub_area_145,economy_pca_0,economy_pca_1,economy_pca_2,economy_pca_3,economy_pca_4,economy_pca_5
0,-0.764446,-0.828085,2.0,4.0,1998.000000,1.0,0.762264,0.0,3.0,0.982253,...,0,0,0,0,-6.540834,1.907622,3.036728,1.287959,-0.809556,-0.117246
1,1.319140,0.007983,4.0,5.0,1862.829848,3.0,-1.542006,1.0,1.0,0.952282,...,0,0,0,0,-6.540834,1.907622,3.036728,1.287959,-0.809556,-0.117246
2,-0.654182,-0.395317,3.0,3.0,1960.000000,2.0,-0.008056,0.0,2.0,-0.227927,...,0,0,0,0,-6.540834,1.907622,3.036728,1.287959,-0.809556,-0.117246
3,0.633929,0.422719,5.0,5.0,2016.000000,2.0,1.845668,1.0,3.0,0.736588,...,0,0,0,0,-6.540834,1.907622,3.036728,1.287959,-0.809556,-0.117246
4,-0.690487,0.663347,5.0,5.0,1862.829848,1.0,-1.542006,1.0,1.0,0.952282,...,0,0,0,0,-6.540834,1.907622,3.036728,1.287959,-0.809556,-0.117246

In [5]:
target.head()

   price_doc
0   6.767156
1   6.778151
2   6.755875
3   7.117271
4   7.213025

In [6]:
train_df.columns.values

array(['full_sq', 'life_sq', 'floor', 'max_floor', 'build_year',
       'num_room', 'kitch_sq', 'product_type', 'state', 'area_m',
       'children_school', 'culture_objects_top_25', 'N_build',
       'Good_build', 'raion_pca_0', 'km_pca_0', 'count_pca_0',
       'material_0.0', 'material_1.0', 'material_2.0', 'material_3.0',
       'material_4.0', 'material_5.0', 'ecology_0', 'ecology_1',
       'ecology_2', 'ecology_3', 'ecology_4', 'sub_area_0', 'sub_area_1',
       'sub_area_2', 'sub_area_3', 'sub_area_4', 'sub_area_5',
       'sub_area_6', 'sub_area_7', 'sub_area_8', 'sub_area_9',
       'sub_area_10', 'sub_area_11', 'sub_area_12', 'sub_area_13',
       'sub_area_14', 'sub_area_15', 'sub_area_16', 'sub_area_17',
       'sub_area_18', 'sub_area_19', 'sub_area_20', 'sub_area_21',
       'sub_area_22', 'sub_area_23', 'sub_area_24', 'sub_area_25',
       'sub_area_26', 'sub_area_27', 'sub_area_28', 'sub_area_29',
       'sub_area_30', 'sub_area_31', 'sub_area_32', 'sub_area_33',
       'sub_area_34', 'sub_area_35', 'sub_area_36', 'sub_area_37',
       'sub_area_38', 'sub_area_39', 'sub_area_40', 'sub_area_41',
       'sub_area_42', 'sub_area_43', 'sub_area_44', 'sub_area_45',
       'sub_area_46', 'sub_area_47', 'sub_area_48', 'sub_area_49',
       'sub_area_50', 'sub_area_51', 'sub_area_52', 'sub_area_53',
       'sub_area_54', 'sub_area_55', 'sub_area_56', 'sub_area_57',
       'sub_area_58', 'sub_area_59', 'sub_area_60', 'sub_area_61',
       'sub_area_62', 'sub_area_63', 'sub_area_64', 'sub_area_65',
       'sub_area_66', 'sub_area_67', 'sub_area_68', 'sub_area_69',
       'sub_area_70', 'sub_area_71', 'sub_area_72', 'sub_area_73',
       'sub_area_74', 'sub_area_75', 'sub_area_76', 'sub_area_77',
       'sub_area_78', 'sub_area_79', 'sub_area_80', 'sub_area_81',
       'sub_area_82', 'sub_area_83', 'sub_area_84', 'sub_area_85',
       'sub_area_86', 'sub_area_87', 'sub_area_88', 'sub_area_89',
       'sub_area_90', 'sub_area_91', 'sub_area_92', 'sub_area_93',
       'sub_area_94', 'sub_area_95', 'sub_area_96', 'sub_area_97',
       'sub_area_98', 'sub_area_99', 'sub_area_100', 'sub_area_101',
       'sub_area_102', 'sub_area_103', 'sub_area_104', 'sub_area_105',
       'sub_area_106', 'sub_area_107', 'sub_area_108', 'sub_area_109',
       'sub_area_110', 'sub_area_111', 'sub_area_112', 'sub_area_113',
       'sub_area_114', 'sub_area_115', 'sub_area_116', 'sub_area_117',
       'sub_area_118', 'sub_area_119', 'sub_area_120', 'sub_area_121',
       'sub_area_122', 'sub_area_123', 'sub_area_124', 'sub_area_125',
       'sub_area_126', 'sub_area_127', 'sub_area_128', 'sub_area_129',
       'sub_area_130', 'sub_area_131', 'sub_area_132', 'sub_area_133',
       'sub_area_134', 'sub_area_135', 'sub_area_136', 'sub_area_137',
       'sub_area_138', 'sub_area_139', 'sub_area_140', 'sub_area_141',
       'sub_area_142', 'sub_area_143', 'sub_area_144', 'sub_area_145',
       'economy_pca_0', 'economy_pca_1', 'economy_pca_2', 'economy_pca_3',
       'economy_pca_4', 'economy_pca_5'], dtype=object)

In [7]:
omit_list = train_df.columns.values[ train_df.columns.str.contains('sub_area') ]
omit_list = np.append( omit_list, train_df.columns.values[ train_df.columns.str.contains('ecology_') ] )
omit_list = np.append( omit_list, train_df.columns.values[ train_df.columns.str.contains('material_') ] )

In [8]:
foo = train_df.drop( omit_list, axis=1 ).copy()

In [4]:
from sklearn.utils           import shuffle
from sklearn.model_selection import KFold
from sklearn.metrics         import r2_score
from sklearn.decomposition   import PCA
from sklearn.model_selection import GridSearchCV
from sklearn.base            import clone

In [5]:
from sklearn.linear_model import Ridge # alpha 1
from sklearn.linear_model import Lasso # alpha 1
from sklearn.linear_model import BayesianRidge # alpha_1, alpha_2, lambda_1, lambda_2, both def 1e-6
from sklearn.linear_model import SGDRegressor
from sklearn.kernel_ridge import KernelRidge # alpha , kernel, gamma
from sklearn.svm          import SVR


from sklearn.ensemble     import RandomForestRegressor
from sklearn.ensemble     import GradientBoostingRegressor
from sklearn.ensemble     import AdaBoostRegressor
from sklearn.ensemble     import BaggingRegressor

In [6]:
x_train, y_train = shuffle( train_df.values, target.values, random_state=0 )

In [14]:
y_train = y_train[:,0]

In [6]:
gen_params = { 'alpha':10**np.arange(0.,2,0.2) }
ridge_reg = rv.optimize_fit( Ridge(), x_train, y_train, gen_params )

Fold  1 accuracy: 0.3706  ,  0.3869  {'alpha': 10.0}
Fold  2 accuracy: 0.3941  ,  0.3838  {'alpha': 15.848931924611142}
Fold  3 accuracy: 0.4130  ,  0.3825  {'alpha': 15.848931924611142}
Fold  4 accuracy: 0.3924  ,  0.3845  {'alpha': 15.848931924611142}
Fold  5 accuracy: 0.4062  ,  0.3833  {'alpha': 15.848931924611142}
Fold  6 accuracy: 0.3847  ,  0.3862  {'alpha': 15.848931924611142}
Fold  7 accuracy: 0.3720  ,  0.3871  {'alpha': 15.848931924611142}
Fold  8 accuracy: 0.3742  ,  0.3861  {'alpha': 15.848931924611142}
Fold  9 accuracy: 0.3926  ,  0.3841  {'alpha': 25.118864315095809}
Fold 10 accuracy: 0.3696  ,  0.3870  {'alpha': 15.848931924611142}

Found  3  unique parameter combinations

Clf  0 Mean Accuracy: 0.3870 +/- 0.0148
Clf  1 Mean Accuracy: 0.3871 +/- 0.0145
Clf  2 Mean Accuracy: 0.3870 +/- 0.0142

Using CLF with accuracy:   0.387053
CLF params:  {'normalize': False, 'fit_intercept': True, 'max_iter': None, 'random_state': None, 'tol': 0.001, 'copy_X': True, 'alpha': 15.848931924611142, 'solver': 'auto'}

In [ ]:
gen_params = { 'n_iter':[300,500,700] }
bRidge_reg = rv.optimize_fit( BayesianRidge(), x_train, y_train, gen_params )

/home/sean/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Fold  1 accuracy: 0.3710  ,  0.3869  {'n_iter': 300}
Fold  2 accuracy: 0.3941  ,  0.3838  {'n_iter': 300}
Fold  3 accuracy: 0.4130  ,  0.3825  {'n_iter': 300}
Fold  4 accuracy: 0.3923  ,  0.3845  {'n_iter': 300}
Fold  5 accuracy: 0.4062  ,  0.3833  {'n_iter': 300}
Fold  6 accuracy: 0.3848  ,  0.3862  {'n_iter': 300}
Fold  7 accuracy: 0.3719  ,  0.3871  {'n_iter': 300}
Fold  8 accuracy: 0.3741  ,  0.3861  {'n_iter': 300}
Fold  9 accuracy: 0.3933  ,  0.3840  {'n_iter': 300}
Fold 10 accuracy: 0.3696  ,  0.3870  {'n_iter': 300}

Found  1  unique parameter combinations

Clf  0 Mean Accuracy: 0.3870 +/- 0.0146

Using CLF with accuracy:   0.387022
CLF params:  {'normalize': False, 'n_iter': 300, 'verbose': False, 'lambda_1': 1e-06, 'lambda_2': 1e-06, 'fit_intercept': True, 'alpha_2': 1e-06, 'tol': 0.001, 'alpha_1': 1e-06, 'copy_X': True, 'compute_score': False}

In [ ]:
gen_params = { 
                'kernel':['rbf'],
                'C':[1e0,1e1,1e2],
                'gamma':['auto']
             }
svr_reg = rv.optimize_fit( SVR(), x_train, y_train, gen_params, nf = 5 )

In [ ]:
gen_params = { 
                'n_estimators':[10,20,30],
                'max_depth':[None,10,20,50,70,100],
                'min_samples_split':[2,5,8]
             }
forest_reg = rv.optimize_fit( RandomForestRegressor(), x_train, y_train, gen_params )

In [ ]:
gen_params = { 
                'base_estimator':[None,SVR(),Ridge(),RandomForestRegressor()],
                'n_estimators':[10,15,20]
             }
bag_reg = rv.optimize_fit( BaggingRegressor(), x_train, y_train, gen_params )

In [ ]:
gen_params = {
                'loss':['ls','huber'],
                'n_estimators':[100,150,200]
             }
gbr_reg = rv.optimize_fit( GradientBoostingRegressor(), x_train, y_train, gen_params )

In [ ]:
gen_params = { 
                'base_estimator':[None,SVR(),Ridge(),RandomForestRegressor()],
                'n_estimators':[50,75,100]
             }
ada_reg =  = rv.optimize_fit( AdaBoostRegressor(), x_train, y_train, gen_params )