In [1]:
import numpy  as np
import pandas as pd

import matplotlib.pyplot as plt

import remap_values      as rv
import df_visualizations as dv

In [12]:
train_df = pd.read_csv( 'train_mod.csv' )
test_df  = pd.read_csv(  'test_mod.csv' )
target   = pd.read_csv(     'price.csv' )

In [13]:
train_df.head()

,full_sq,life_sq,floor,max_floor,build_year,num_room,kitch_sq,product_type,state,area_m,...,sub_area_142,sub_area_143,sub_area_144,sub_area_145,economy_pca_0,economy_pca_1,economy_pca_2,economy_pca_3,economy_pca_4,economy_pca_5
0,-0.478974,-0.230602,3.0,3.0,1890.542762,2.0,0.262875,0.0,0.0,-0.778320,...,0,0,0,0,4.339423,-2.483083,-2.359179,2.115526,0.497562,-0.504460
1,-1.164398,-1.019313,3.0,3.0,1890.542762,2.0,0.262875,0.0,0.0,-0.273679,...,0,0,0,0,4.340430,-2.478756,-2.371841,2.120667,0.498366,-0.498004
2,-0.478974,-0.068879,2.0,2.0,1890.542762,2.0,0.262875,0.0,0.0,-1.137734,...,0,0,0,0,4.332142,-2.467574,-2.363300,2.139086,0.501655,-0.518096
3,1.664444,1.174946,4.0,4.0,1890.542762,2.0,0.262875,0.0,0.0,0.066451,...,0,0,0,0,3.715622,-2.715521,-1.499621,1.731055,0.450541,-1.242619
4,1.235829,2.170898,3.0,3.0,1890.542762,2.0,0.262875,0.0,0.0,-0.439656,...,0,0,0,0,3.788533,-2.763121,-1.416298,1.832458,-0.280432,-1.107219

In [14]:
test_df.head()

,full_sq,life_sq,floor,max_floor,build_year,num_room,kitch_sq,product_type,state,area_m,...,sub_area_142,sub_area_143,sub_area_144,sub_area_145,economy_pca_0,economy_pca_1,economy_pca_2,economy_pca_3,economy_pca_4,economy_pca_5
0,-0.764446,-0.828085,2.0,4.0,1998.000000,1.0,0.762264,0.0,3.0,0.982253,...,0,0,0,0,-6.540834,1.907622,3.036728,1.287959,-0.809556,-0.117246
1,1.319140,0.007983,4.0,5.0,1862.829848,3.0,-1.542006,1.0,1.0,0.952282,...,0,0,0,0,-6.540834,1.907622,3.036728,1.287959,-0.809556,-0.117246
2,-0.654182,-0.395317,3.0,3.0,1960.000000,2.0,-0.008056,0.0,2.0,-0.227927,...,0,0,0,0,-6.540834,1.907622,3.036728,1.287959,-0.809556,-0.117246
3,0.633929,0.422719,5.0,5.0,2016.000000,2.0,1.845668,1.0,3.0,0.736588,...,0,0,0,0,-6.540834,1.907622,3.036728,1.287959,-0.809556,-0.117246
4,-0.690487,0.663347,5.0,5.0,1862.829848,1.0,-1.542006,1.0,1.0,0.952282,...,0,0,0,0,-6.540834,1.907622,3.036728,1.287959,-0.809556,-0.117246

In [15]:
target.head()

   price_doc
0   6.767156
1   6.778151
2   6.755875
3   7.117271
4   7.213025